B.E.(Comp.) - B15
#Experiment No. : 3
Title : Apply a-priori algorithm to find frequently occurring items from given data and generate strong association rules using support and confidence thresholds. For Example: Market Basket Analysis .

Dataset used : online-retail-ii-uci.csv

PYTHON IMPLEMENTATION: MLEXTEND -MLxtend(Machine Learning Extensions) is a python library of useful tools for the day-to-day data science tasks.

from mlxtend.frequent_patterns import apriori

Apriori function to extract frequent itemsets for association rule mining.

-Support threshold can be mentioned to retrive frequent itemset. -from mlxtend.frequent_patterns import association_rules

-Function to generate association rules from frequent itemsets. -Dataframe.metrics and minimum threshold needed to be mentioned. -Metric values are :support,confidence ,lift.

In [19]:
import numpy as np
import pandas as pd # for data processing
dataset = pd.read_csv('/content/online_retail_II.csv')

In [20]:
dataset.head

<bound method NDFrame.head of       Invoice StockCode  ... Customer ID         Country
0      489434     85048  ...     13085.0  United Kingdom
1      489434    79323P  ...     13085.0  United Kingdom
2      489434    79323W  ...     13085.0  United Kingdom
3      489434     22041  ...     13085.0  United Kingdom
4      489434     21232  ...     13085.0  United Kingdom
...       ...       ...  ...         ...             ...
59014  494674     37461  ...     14606.0  United Kingdom
59015  494674     21534  ...     14606.0  United Kingdom
59016  494674     21989  ...     14606.0  United Kingdom
59017  494674     21175  ...     14606.0  United Kingdom
59018  494674     21206  ...         NaN             NaN

[59019 rows x 8 columns]>

#Preparing the dataset

In [21]:
dataset = dataset.dropna()
dataset.head

<bound method NDFrame.head of       Invoice StockCode  ... Customer ID         Country
0      489434     85048  ...     13085.0  United Kingdom
1      489434    79323P  ...     13085.0  United Kingdom
2      489434    79323W  ...     13085.0  United Kingdom
3      489434     22041  ...     13085.0  United Kingdom
4      489434     21232  ...     13085.0  United Kingdom
...       ...       ...  ...         ...             ...
59013  494674    84507B  ...     14606.0  United Kingdom
59014  494674     37461  ...     14606.0  United Kingdom
59015  494674     21534  ...     14606.0  United Kingdom
59016  494674     21989  ...     14606.0  United Kingdom
59017  494674     21175  ...     14606.0  United Kingdom

[41057 rows x 8 columns]>

In [22]:
dataset['Description'].head

<bound method NDFrame.head of 0        15CM CHRISTMAS GLASS BALL 20 LIGHTS
1                         PINK CHERRY LIGHTS
2                        WHITE CHERRY LIGHTS
3               RECORD FRAME 7" SINGLE SIZE
4             STRAWBERRY CERAMIC TRINKET BOX
                        ...
59013             STRIPES DESIGN MONKEY DOLL
59014                       FUNKY MONKEY MUG
59015              DAIRY MAID LARGE MILK JUG
59016         PACK OF 20 SKULL PAPER NAPKINS
59017            GIN + TONIC DIET METAL SIGN
Name: Description, Length: 41057, dtype: object>

In [23]:
#Grouping together the entries with same invoice code
dataset = dataset.groupby(['Invoice'])['StockCode'].apply(list)
dataset = dataset.tolist()[0:7000]        #keeping dataset limited to first 7000 rows

#Apriori Implementation

In [26]:
!pip install mlxtend
from mlxtend.preprocessing import TransactionEncoder

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)

In [27]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary,columns=te.columns_)

In [28]:
df

      10002  10080  10109  10120  10123C  ...      D      M   POST  TEST001  TEST002
0     False  False  False  False   False  ...  False  False  False    False    False
1     False  False  False  False   False  ...  False  False  False    False    False
2     False  False  False  False   False  ...  False  False  False    False    False
3      True  False  False  False   False  ...  False  False  False    False    False
4     False  False  False  False   False  ...  False  False  False    False    False
...     ...    ...    ...    ...     ...  ...    ...    ...    ...      ...      ...
2444  False  False  False  False   False  ...  False  False  False    False    False
2445  False  False  False  False   False  ...  False  False  False    False    False
2446  False  False  False  False   False  ...  False  False  False    False    False
2447  False  False  False  False   False  ...  False  False  False    False    False
2448  False  False  False  False   False  ...  False  False  False    False    False

[2449 rows x 2895 columns]

In [29]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df,min_support=0.01,use_colnames=True)

In [30]:
frequent_itemsets

       support                                           itemsets
0     0.037566                                          (15056BL)
1     0.027766                                           (15056N)
2     0.013067                                            (20665)
3     0.013067                                            (20675)
4     0.019192                                            (20676)
...        ...                                                ...
3875  0.010208  (15056N, 21955, 82486, 22352, 82482, 82483, 21...
3876  0.010208  (15056N, 21955, 82486, 22352, 82482, 82483, 21...
3877  0.010617  (21955, 82486, 22352, 82482, 82483, 21733, 851...
3878  0.010208  (15056N, 21955, 82486, 15056BL, 82482, 82483, ...
3879  0.010208  (15056N, 21955, 82486, 22352, 82482, 82483, 21...

[3880 rows x 2 columns]

#Association Rule Mining

In [45]:
from mlxtend.frequent_patterns import association_rules
res1 = association_rules(frequent_itemsets,metric='confidence',min_threshold = 0.8)
res1

           antecedents  ... conviction
0              (21124)  ...   5.056758
1              (21231)  ...   5.514904
2              (21741)  ...   6.290241
3              (22303)  ...   6.313761
4              (22302)  ...   5.428134
...                ...  ...        ...
217067  (22352, 21523)  ...   9.230434
217068  (22352, 20679)  ...   7.170069
217069  (20679, 82482)  ...   5.113924
217070  (20679, 82483)  ...   5.113924
217071  (20679, 21523)  ...   7.175990

[217072 rows x 9 columns]

In [46]:
res2 = res1[['antecedents','consequents','support','confidence','lift']]
res2

           antecedents  ...       lift
0              (21124)  ...  48.117209
1              (21231)  ...  10.307239
2              (21741)  ...  49.198661
3              (22303)  ...  62.616477
4              (22302)  ...  62.616477
...                ...  ...        ...
217067  (22352, 21523)  ...  80.985450
217068  (22352, 20679)  ...  78.192848
217069  (20679, 82482)  ...  79.000000
217070  (20679, 82483)  ...  79.000000
217071  (20679, 21523)  ...  84.448276

[217072 rows x 5 columns]

In [47]:
max(res2['confidence'])

1.0

In [86]:
res3 = res2[res2['support']>=0.012]
res3 = res3[res3['confidence']>=1].reset_index()
res3[:5]

   index      antecedents consequents   support  confidence       lift
0    145  (15056N, 21733)    (85123A)  0.013067         1.0   6.215736
1    168  (15056N, 82486)     (82482)  0.012250         1.0  18.276119
2    169  (15056N, 82482)    (82494L)  0.013475         1.0  18.276119
3    174  (15056N, 82486)     (82483)  0.012250         1.0  24.490000
4    179  (15056N, 82486)    (82494L)  0.012250         1.0  18.276119